.m-n10 {
    margin: -6rem !important;
}

.mt-n10,
.my-n10 {
    margin-top: -6rem !important;
}

.mr-n10,
.mx-n10 {
    margin-right: -6rem !important;
}

.mb-n10,
.my-n10 {
    margin-bottom: -6rem !important;
}

.ml-n10,
.mx-n10 {
    margin-left: -6rem !important;
}

.m-n15 {
    margin: -9rem !important;
}

.mt-n15,
.my-n15 {
    margin-top: -9rem !important;
}

.mr-n15,
.mx-n15 {
    margin-right: -9rem !important;
}

.mb-n15,
.my-n15 {
    margin-bottom: -9rem !important;
}

.ml-n15,
.mx-n15 {
    margin-left: -9rem !important;
}


.p-10 {
    padding: 6rem !important;
}

.pt-10,
.py-10 {
    padding-top: 6rem !important;
}

.pr-10,
.px-10 {
    padding-right: 6rem !important;
}

.pb-10,
.py-10 {
    padding-bottom: 6rem !important;
}

.pl-10,
.px-10 {
    padding-left: 6rem !important;
}

.p-15 {
    padding: 9rem !important;
}

.pt-15,
.py-15 {
    padding-top: 9rem !important;
}

.pr-15,
.px-15 {
    padding-right: 9rem !important;
}

.pb-15,
.py-15 {
    padding-bottom: 9rem !important;
}

.pl-15,
.px-15 {
    padding-left: 9rem !important;
}
